// https://vue-loader.vuejs.org/en/configurations/pre-processors.html#loading-a-global-settings-file
@charset "utf-8";

//!--- Customize scss styles e.g. branding ----
// https://bulma.io/documentation/customize/variables/
// Colors
$primary: hsl(171, 100%, 41%);

$info: hsl(204, 86%, 53%);
$success: hsl(141, 71%, 48%);
$warning: hsl(48, 100%, 67%);
$danger: hsl(348, 100%, 61%);

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

$orange: hsl(14, 100%, 53%) !default;

// Custom colors:
$special1: hsl(0, 30%, 20%);
$special2: hsl(0, 100%, 12%);
$special3: hsl(0, 8%, 65%);

// Typography
$family-sans-serif: 'Nunito', sans-serif;
$text: $grey-light;
$title-color: $grey-lighter;
$subtitle-strong-color: $grey-lighter;
$subtitle-color: $white-bis;

$menu-label-color: $text;
$menu-item-color: $text;

// Other variables
$body-background-color: $dark;

$footer-padding: 0;
$footer-background-color: $black-ter;

$box-background-color: $grey-dark;
$box-shadow: 0 2px 3px 1px hsla(0, 0%, 100%, 0.15),
  0 0 0 1px hsla(0, 0%, 100%, 0.15);
$box-color: $special3;

//!--- planner-web scss styles ----
$header-footer-border: 1px solid $special1;
$header-footer-border-radius: 30px;

// Dimensions
