@charset "utf-8";

$body-size: 16px;

$remote-col-gap: 10px;
$remote-row-gap: 22.5px;

$button-height: 45px;
$button-width: 49.5px;

$remote-box-padding: $body-size * 1.25; // 1.25rem
$remote-width: #{$button-width * 2 + $remote-col-gap + $remote-box-padding * 2};
$remote-height: 343px;
