@charset "utf-8";

$body-size: 16px;

$blind-col-gap: 10px;
$blind-row-gap: 22.5px;

$button-height: 45px;
$button-width: 49.5px;

$blind-box-padding: $body-size * 1.25; // 1.25rem
$blind-width: #{$button-width * 2 + $blind-col-gap + $blind-box-padding * 2};
$blind-height: 343px;
